<div class="col-lg-12 z1 card a-card" ng-show="itens.length > 0">
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Telefone</th>
                <th>Rua</th>
                <th>Bairro</th>
                <th>Cidade</th>                    
                <th width="100px"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in itens">
                <td>{{item.nome}}</td>
                <td>{{item.email}}</td>
                <td>{{item.telefone}}</td>
                <td>{{item.endereco.rua}}</td>
                <td>{{item.endereco.bairro}}</td>
                <td>{{item.endereco.cidade}}</td>
                <td>
                    <button class="m-button" ng-click="editar(item)">
                        <i class="glyphicon glyphicon-pencil" style="color: orange"></i>
                    </button>

                    <button class="m-button" ng-click="excluir(item)">
                        <i class="glyphicon glyphicon-trash" style="color: red"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>


</div>

<div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                    {{modal.titulo}}
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form novalidate class="m-form" name="fornecedorform">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Nome</label>
                                <input ng-model="novo.nome" placeholder="Nome" name="nome" 
                                       type="text" ng-minlength="7" ng-maxlength="60" maxlength="60" class="form-control m-input" required>

                                <erro ng-show="fornecedorform.nome.$error.required && fornecedorform.nome.$touched">
                                    Insira um nome
                                </erro>

                                <erro ng-show="fornecedorform.nome.$error.minlength || fornecedorform.nome.$error.maxlength">
                                    Verifique se o nome respeita o padrão de no minimo 7 caracteres e no maximo 60 caracteres)
                                </erro>

                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>E-mail</label>
                                <input name="email" ng-model="novo.email"  ng-minlength="7" ng-maxlength="60" maxlength="60" required
                                       placeholder="E-mail"  type="email" class="form-control m-input">
                                <erro ng-show="fornecedorform.email.$error.required && fornecedorform.email.$touched">
                                    Insira um e-mail
                                </erro>
                                <erro ng-show="fornecedorform.email.$error.email && fornecedorform.email.$touched">
                                    Insira um e-mail válido
                                </erro>

                                <erro ng-show="fornecedorform.email.$error.minlength || fornecedorform.email.$error.maxlength">
                                    Verifique se o email respeita o padrão de no minimo 7 caracteres e no maximo 60 caracteres
                                </erro>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Telefone</label>
                                <input name="telefone" required ng-model="novo.telefone" ng-minlength="7" ng-maxlength="20" maxlength="20"  placeholder="Telefone" 
                                       type="number" class="form-control m-input">
                                <erro ng-show="fornecedorform.telefone.$error.required && fornecedorform.telefone.$touched">
                                    Insira um telefone
                                </erro>

                                <erro ng-show="fornecedorform.telefone.$error.minlength || fornecedorform.telefone.$error.maxlength">
                                    Verifique se o telefone respeita o padrão de no minimo 7 caracteres e no maximo 20 caracteres
                                </erro>
                                <erro ng-show="fornecedorform.telefone.$error.number">
                                    Informe um número válido
                                </erro>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Rua</label>
                                <input name="rua" required ng-model="novo.endereco.rua" placeholder="Rua" ng-minlength="5" ng-maxlength="30" maxlength="30"  type="text" class="form-control m-input">
                                <erro ng-show="fornecedorform.rua.$error.required &&
                                                        fornecedorform.rua.$touched">
                                    Insira uma rua
                                </erro>

                                <erro ng-show="fornecedorform.rua.$error.minlength || fornecedorform.rua.$error.maxlength">
                                    Verifique se a rua respeita o padrão de no minimo 5 caracteres e no maximo 30 caracteres
                                </erro>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Cidade</label>
                                        <input name="cidade" required ng-model="novo.endereco.cidade" ng-minlength="3" ng-maxlength="30" maxlength="30"  placeholder="Cidade"  type="text" class="form-control m-input">
                                        <erro ng-show="fornecedorform.cidade.$error.required &&
                                                                fornecedorform.cidade.$touched">
                                            Insira uma cidade
                                        </erro>

                                        <erro ng-show="fornecedorform.cidade.$error.minlength || fornecedorform.cidade.$error.maxlength">
                                            Verifique se a cidade respeita o padrão de no minimo 3 caracteres e no maximo 30 caracteres
                                        </erro>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Bairro</label>
                                        <input name="bairro" required ng-model="novo.endereco.bairro" ng-minlength="3" ng-maxlength="30" maxlength="30"  placeholder="Bairro"  type="text" class="form-control m-input">
                                        <erro ng-show="fornecedorform.bairro.$error.required &&
                                                                fornecedorform.bairro.$touched">
                                            Insira um bairro
                                        </erro>

                                        <erro ng-show="fornecedorform.bairro.$error.minlength || fornecedorform.bairro.$error.maxlength">
                                            Verifique se o bairro respeita o padrão de no minimo 3 caracteres e no maximo 30 caracteres
                                        </erro>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Número</label>
                                        <input name="number" required ng-model="novo.endereco.numero" ng-minlength="2" ng-maxnumber="10" max="10"  placeholder="Número"  type="number" class="form-control m-input">
                                        <erro ng-show="fornecedorform.number.$error.required &&
                                                                fornecedorform.number.$touched">
                                            Insira um numero
                                        </erro>

                                        <erro ng-show="fornecedorform.number.$error.minlength || fornecedorform.number.$error.maxlength">
                                            Verifique se o numero respeita o padrão de no minimo 2 caracteres e no maximo 10 caracteres
                                        </erro>
                                         <erro ng-show="fornecedorform.number.$error.number">
                                            Insira um numero válido
                                        </erro>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Estado</label>
                                        <input name="estado" required ng-model="novo.endereco.estado" ng-minlength="2" ng-maxlength="30" maxlength="30"  placeholder="Estado"  type="text" class="form-control m-input">
                                        <erro ng-show="fornecedorform.estado.$error.required &&
                                                                fornecedorform.estado.$touched">
                                            Insira um estado
                                        </erro>

                                        <erro ng-show="fornecedorform.estado.$error.minlength || fornecedorform.estado.$error.maxlength">
                                            Verifique se o estado respeita o padrão de no minimo 2 caracteres e no maximo 30 caracteres
                                        </erro>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>País</label>
                                        <input name="pais" required ng-model="novo.endereco.pais" ng-minlength="3" ng-maxlength="30" maxlength="30"  placeholder="País"  type="text" class="form-control m-input">
                                        <erro ng-show="fornecedorform.pais.$error.required &&
                                                                fornecedorform.pais.$touched">
                                            Insira um pais
                                        </erro>

                                        <erro ng-show="fornecedorform.pais.$error.minlength || fornecedorform.pais.$error.maxlength">
                                            Verifique se o pais respeita o padrão de no minimo 3 caracteres e no maximo 30 caracteres
                                        </erro>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--inserir contato-->
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-default m-button-flat"
                        data-dismiss="modal">Fechar</button>
                <button type="button"
                        ng-click="modal.salvarFuncao(modal.item)" 
                        class="btn btn-primary m-button-flat"
                        ng-disabled="formularioValido()">
                    {{modal.salvarNome}}
                </button>
            </div>
        </div>
    </div>
</div>

<fab></fab>