<style>
    .search{
        border: none;
        border-radius: 4px;
        height: 36px;
        margin-right: 10px;
        margin-top: 10px;
        width: 195px;
        padding-left: 10px;
    }
</style>

<input style="background-color: {{searchColor}}"
       type="text"
       class="search pull-right"
       ng-change="change()"
       ng-click="click()"
       ng-blur="blur()"
       ng-model="value">

<!--
Como colocar?

Importe na cotroller o elemento pesquisaService e execute a função:

##########################################################

pesquisaService.setFunction(function(search){
    $scope.search = search;
});

##########################################################

Sendo que a variável "search" deve ser inserida no ng-repeat no HTML onde
os dados são mostrados, da seguinte maneira:

##########################################################

<tr ng-repeat="item in itens | filter:search "> ... </tr>

##########################################################


Tudo deve funcionar!
-->