<div id="maps">

</div>

<div class="controls">

    <div class="card z1" style="height: 100%; overflow: hidden;">
        <input ng-model="origem" placeholder="Origem">
        <input ng-model="destino" placeholder="Destino">
        <button ng-click="carregarDirecao(origem, destino)">Carregar</button>
        <div id="directions" style="overflow: auto;
             height: 100%;">

        </div>
    </div>

    <!--<ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>-->



</div>