<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CadUsuario</servlet-name>
        <servlet-class>servlets.CadUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Fornecedor</servlet-name>
        <servlet-class>servlets.Fornecedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpload</servlet-name>
        <servlet-class>servlets.FileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pergunta</servlet-name>
        <servlet-class>servlets.Pergunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuario</servlet-name>
        <servlet-class>servlets.Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TipoUsuario</servlet-name>
        <servlet-class>servlets.TipoUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Status</servlet-name>
        <servlet-class>servlets.StatusUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatusUsuario</servlet-name>
        <servlet-class>servlets.StatusUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadUsuario</servlet-name>
        <url-pattern>/CadUsuario</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Pagamento</servlet-name>
        <servlet-class>servlets.Pagamento</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Pagamento</servlet-name>
        <url-pattern>/Pagamento</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlets.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>AutenticaUsuario</filter-name>
        <filter-class>servlets.AutenticaUsuario</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AutenticaUsuario</filter-name>
        <url-pattern>/Pagamento</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>Fornecedor</servlet-name>
        <url-pattern>/Fornecedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUpload</servlet-name>
        <url-pattern>/FileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pergunta</servlet-name>
        <url-pattern>/Pergunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TipoUsuario</servlet-name>
        <url-pattern>/TipoUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Status</servlet-name>
        <url-pattern>/Status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatusUsuario</servlet-name>
        <url-pattern>/StatusUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
