body{
    background-color: #ececec !important;
    padding-bottom: 100px; 
    font-family: Roboto;
}

#page-wrapper{
    background: none !important;
}

.side-nav{
    height: 100% !important;
}

ng-view{
    padding-bottom: 100px;
}

*:focus {
    outline: 0;
}