<div class="row">
    <div class="alert alert-danger" ng-hide="mensagemErro === ''">
        {{mensagemErro}}
    </div>
    <div class="col-lg-4 col-lg-offset-4">
        <div class="form-group">
            <label>Usuário</label>
            <input type="text" ng-model="loginData.userName" placeholder="Usuário" class="m-input form-control">
        </div>
        <div class="form-group">
            <label>Senha</label>
            <input type="password" ng-model="loginData.password" class="form-control">
        </div>
        <button class="btn btn-success" ng-click="login()">
            Entrar
        </button>
    </div>
</div>