<style>
    .filtro-tipo{
        color: white;
        border-radius: 3px;
        padding-left: 10px;
    }
</style>
<div class="col-lg-12 card z1" style="height: 47px !important;">
    <div class="row" style="height: 47px !important;">
        <div class="col-lg-2">
            <div class=" debitoLimitado filtro-tipo">
                <div class="checkbox">
                    <label>
                        <input ng-model="tipo.debitoLimitado" type="checkbox"> Débitos limitados
                    </label>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class=" debitoIlimitado filtro-tipo">
                <div class="checkbox">
                    <label>
                        <input ng-model="tipo.debitoIlimitado" type="checkbox"> Débitos ilimitados
                    </label>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="unico filtro-tipo">
                <div class="checkbox">
                    <label>
                        <input ng-model="tipo.unico" type="checkbox"> Contas únicas
                    </label>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="carne filtro-tipo">
                <div class="checkbox">
                    <label>
                        <input ng-model="tipo.carne" type="checkbox"> Carnês
                    </label>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label>
                    Fornecedor
                </label>                
                <select>
                    <option selected>Todos</option>
                    <option ng-repeat="f in fornecedores">{{f.nome}}</option>
                </select>
            </div>
        </div>
    </div>
</div>
<style>
    .md.md-close{
        padding-top: 13px;
        padding-left: 0px;
    }
</style>

<div class="col-lg-12 month">
    <div class="col-lg-6">
        <div class="form-inline">
            <button class="btn-calendar" ng-click="removerMes()">
                <i class="md md-remove-circle"></i>
            </button>

            <div class="form-group">
                <select ng-model="mes" ng-change="carregarPagamentos()">
                    <option value="0">Janeiro</option>
                    <option value="1">Fevereiro</option>
                    <option value="2">Março</option>
                    <option value="3">Abril</option>
                    <option value="4">Maio</option>
                    <option value="5">Junho</option>
                    <option value="6">Julho</option>
                    <option value="7">Agosto</option>
                    <option value="8">Setembro</option>
                    <option value="9">Outubro</option>
                    <option value="10">Novembro</option>
                    <option value="11">Dezembro</option>
                </select>
            </div>

            <div class="form-group">
                <input type="text" ui-mask="9999" ng-model="ano" ng-change="carregarPagamentos()">
            </div>
            <button class="btn-calendar" ng-click="adicionarMes()">
                <i class="md md-add-circle"></i>
            </button>
        </div>
    </div>

    <div class="col-lg-6" ng-hide='showVazio'>
        <div class="pull-right">            
            {{itens.length}} contas totalizando {{pegarTotal() | currency : "R$ " : 2}}   

            <div class="pull-right month-buttons">
                <button class="btn-calendar" ng-click="mostrarEstatisticasMensais()">
                    <i class="md md-poll" style="color: orange;"></i>
                </button>

                <button class="btn-calendar" hotkey="{'alt+c': alterarStatusCalendario}"
                        ng-click="alterarStatusCalendario()"
                        ng-class="{'btn-calendar-clicked': mostrarCalendario}">
                    <i class="glyphicon glyphicon-calendar" ng-hide="mostrarCalendario"></i>
                    <i class="glyphicon glyphicon-remove" ng-show="mostrarCalendario"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12 calendar z2 pull-right" ng-show="mostrarEstatisticas">    
    <div class="row">
        <div class="col-lg-6">
            Tipos de pagamentos por mês
            <canvas id="tipos-mes" height="450" width="450"></canvas>
        </div>

        <div class="col-lg-6">
            Meses anteriores
        </div>
    </div>
</div>

<div class="col-lg-12 calendar z2 pull-right" ng-show="mostrarCalendario">
    <table class="tb">

        <thead>
            <tr>
                <th>Dom</th>
                <th>Seg</th>
                <th>Ter</th>
                <th>Qua</th>
                <th>Qui</th>
                <th>Sex</th>
                <th>Sáb</th>
            </tr>
        </thead>

        <tr ng-repeat="semana in semanas">
            <td ng-repeat="dia in semana.dias" class="table-td"
                ng-class="{'opaco' : dia.OutroMes}">            
                <div class="table-day-content">
                    <div class="table-day">
                        {{dia.data| date: "dd MMM yy"}}
                    </div>
                    <div class="table-description">

                    </div>
                </div>
                <div class="table-item"
                     ng-repeat="p in dia.pagamentos| filter:search"
                     ng-click="clicarPagamentoCalendario(p)"
                     ng-class="{'debitoLimitado': p.debitoLimitado, 'debitoIlimitado': p.debitoIlimitado, 'unico': p.unico, 'carne': p.carne}">
                    <div class="item-title">
                        {{p.nome}}
                    </div> 
                    <div class="item-value">
                        {{p.valor| currency : 'R$ ' : 2}}
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<div class="col-lg-12 repeated-item z1 item-color" 
     ng-repeat="item in itens
                 | filter:search
                         | filter:tipo
     " ng-class="{
                 'expand z2': item.c.expandir == true,
                 'expand-info z2': item.c.expandirInfo
                 }" id="{{item.ID}}"
     ng-mouseover="mouseOverItem(item)"
     ng-mouseleave="mouseLeaveItem(item)">
    <div class='head col-lg-12'>
        <div class="day" ng-class="{'debitoLimitado': item.debitoLimitado, 'debitoIlimitado': item.debitoIlimitado, 'unico': item.unico, 'carne': item.carne}">
            {{item.vencimento| date: "d"}}
            <div class="week">
                {{item.vencimento| date: "EEE" | uppercase}}
            </div>
        </div>
        <div class="title">
            {{item.nome}} <div class="description">
                <input style="border: none;" ng-model="item.descricao" placeholder="Inserir descrição">

            </div>   

            <div class="tags">
                <div class="tag">
                    <i class="md md-cached"></i>
                    {{item.c.numeroVezes}}                    
                </div>
                <div class="tag">
                    <i class="md md-equalizer"></i>
                    {{pegarPorcentagem(item) | number : 2}}%
                </div>   
                <a href="#Fornecedor">
                    <div class="tag">
                        <i class="md md-person"></i>
                        {{item.fornecedorNome}}
                    </div>                    
                </a>                
                <a href="{{item.c.boletoUrl}}" ng-show="item.boletoID">
                    <div class="tag">
                        <i class="md md-description"></i>
                        Baixar boleto                    
                    </div> 
                </a>
                <a href="{{item.c.comprovanteUrl}}" ng-show="item.comprovanteID">
                    <div class="tag">
                        <i class="md md-attachment"></i>
                        Baixar comprovante
                    </div>                 
                </a>                
                <div class="tag" style="color: green;" ng-show="item.pago">
                    <i class="md md-done"></i>
                    Pago em {{item.dataPagamento| date:"dd/MM/yy" }} na
                </div> 
                <a href="#/Conta" ng-show="item.pago">
                    <div class="tag" style="color: green;">
                        <i class="md md-account-balance"></i>
                        Conta {{item.contaNome}}
                    </div> 
                </a>
                <div class="tag" style="color: red;" ng-show="item.vencido && !item.pago && !item.debitoIlimitado && !item.debitoLimitado">
                    <i class="md md-warning"></i>
                    Vencido há {{item.c.diasVencidos}} dias
                </div> 
            </div>
        </div>
        <div class='right-content buttons'>
            <span class='value'>
                {{item.valor| currency : 'R$ ' : 2}} 
            </span>

            <div ng-show="!item.c.mostrarBotoes" class="item-buttons">
                <i class="md md-delete btn-item" style="color: red;" 
                   ng-click="excluir(item)" ng-show="!item.c.expandir && !item.pago && (item.unico || item.carne)"></i>


                <i class="md md-clear btn-item" style="color: red;" 
                   ng-click="cancelarPagamentoUnico(item)"
                   ng-show="item.c.expandir && !item.pago"></i>               
                <i class="md md-attach-money btn-item" style="color: rgb(0, 173, 0);" 
                   ng-click="mais(item)"
                   data-toggle="tooltip" title="Pagar"
                   ng-show="!item.c.expandir && !item.pago">
                </i>
                <i class="md md-done btn-item" style="color: rgb(0, 173, 0);" 
                   ng-click="pagarUnico(item)"
                   data-toggle="tooltip" title="Confirmar"
                   ng-show="item.c.expandir && !item.pago"></i>

                <i class="md md-info btn-item" style="color: gray;" 
                   ng-click="expandirInfo(item)"
                   data-toggle="tooltip" title="Confirmar"
                   ng-show="!item.c.expandir"></i>
            </div>
            <!--
            <i class="glyphicon glyphicon-menu-left show-more-buttons"
               ng-click="mostrarAcaoBotao(item)"
               ng-show="!item.expandir"
               ng-class="{'right-button': item.mostrarBotoes,
                          'right-button-hide': item.expandir}"></i>            -->
        </div>
    </div>
    <div class='more-info col-lg-12' ng-show='item.c.expandirInfo'>
        <div class="col-lg-6">
            <h4>Parcelas</h4>
        </div>
        <div class="col-lg-6">
            <h4>Valores mensais de {{item.fornecedorNome}}</h4>
            <div id="{{item.ID}}-fornecedor-chart" style="height: 270px;"></div>
        </div>
    </div>
    <div class='more-info col-lg-12' ng-show='item.c.expandir'>
        <form novalidate name="formPagar">
            <div class='col-lg-3'>
                <div class='form-group'>
                    <label>Comprovante</label>
                    <input class='form-control  m-input'
                           name="comprovanteID"
                           type='file'
                           required
                           file-model="item.comprovanteID"
                           validFile>
                    <erro ng-show="formPagar.comprovanteID.$valid && formPagar.comprovante.$touched">                                    
                        Insira um comprovante
                    </erro>
                </div>
            </div>
            <div class='col-lg-3'>
                <div class='form-group'>
                    <label>Banco</label>
                    <select class='form-control m-input'
                            name="contaBancariaID"
                            required placeholder="Conta bancária"
                            ng-model="item.contaBancariaID">
                        <option ng-repeat="f in contasBancarias" required value="{{f.ID}}">
                            {{f.nome}}
                        </option>
                    </select>
                    <erro ng-show="formPagar.contaBancariaID.$error.required && formPagar.banco.$touched">                                    
                        Insira uma conta bancária
                    </erro>
                </div>
            </div>
            <div class='col-lg-3'>
                <div class='form-group'>
                    <label>Descontos</label>
                    <input class="form-control m-input" 
                           required 
                           type="text"
                           placeholder="Descontos" 
                           ng-model="item.descontos"
                           name="descontos"
                           ui-number-mask>
                    <erro ng-show="formPagar.descontos.$error.required && formPagar.descontos.$touched">                                    
                        campo obrigatório
                    </erro>
                </div>
            </div>
            <div class='col-lg-3'>
                <div class='form-group'>
                    <label>Juros {{formPagar.$invalid}} </label>
                    <input class="form-control m-input" 
                           placeholder="Juros" 
                           required 
                           type="text" 
                           ng-model="item.juros"
                           name="juros"
                           ui-number-mask>
                    <erro ng-show="formPagar.juros.$error.required && formPagar.juros.$touched">                                    
                        campo obrigatório
                    </erro>
                </div>
            </div>
        </form>
    </div>
</div>

<vazio dados="vazio" ng-show='showVazio'></vazio>

<div class="modal fade" id="editar">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Adição de Carnê {{itemEditar.descricao}}</h4>
            </div>

            <form novalidate name="carneForm">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Nome</label>
                                <input class="form-control"
                                       ng-change="gerarParcelas()"
                                       required
                                       ng-model="itemNovoMassa.nome"
                                       maxlength="40"
                                       min="4"
                                       ng-maxlength="40"
                                       ng-minlength="4"
                                       name="nome">
                                <erro ng-show="carneForm.nome.$error.required && carneForm.nome.$touched">
                                    Insira o nome
                                </erro>
                                <erro ng-show="(carneForm.nome.$error.maxlength || carneForm.nome.$error.minlength)
                                                    && carneForm.nome.$touched">
                                    Campo deve estar entre 4 e 40 caracteres
                                </erro>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Fornecedor</label>
                                <select class="form-control"
                                        ng-change="gerarParcelas()"
                                        ng-model="itemNovoMassa.fornecedorID"
                                        name="fornecedor"
                                        required>
                                    <option ng-repeat="f in fornecedores" required value="{{f.ID}}">{{f.nome}}</option>
                                </select>
                                <erro ng-show="carneForm.fornecedor.$error.required && carneForm.fornecedor.$touched">
                                    Selecione um fornecedor
                                </erro>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Data Inicial {{itemNovoMassa.inicial}}</label>
                                <input class="form-control"
                                       type="date"
                                       ng-change="gerarParcelas()"
                                       required
                                       ng-model="itemNovoMassa.inicial"
                                       name="dataInicial">
                                <erro ng-show="carneForm.dataInicial.$error.required && carneForm.dataInicial.$touched">
                                    Informe a data inicial
                                </erro>
                            </div>
                        </div>            
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Data Final {{itemNovoMassa.final}}</label>
                                <input class="form-control"
                                       type="date"
                                       ng-change="gerarParcelas()"
                                       required
                                       name="dataFinal"
                                       ng-model="itemNovoMassa.final">
                                <erro ng-show="carneForm.dataFinal.$error.required && carneForm.dataFinal.$touched">
                                    Informe a data final
                                </erro>
                            </div>
                        </div>                                        
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Valor</label>
                                <input class="form-control"
                                       ng-change="gerarParcelas()"
                                       required
                                       name="valor"
                                       ng-model="itemNovoMassa.valor"
                                       ui-number-mask>
                                <erro ng-show="carneForm.valor.$error.required && carneForm.valor.$touched">
                                    Informe o valor
                                </erro>
                            </div>
                        </div>



                    </div>
                    <div ng-show="itemNovoMassa.parcelas.length > 0">
                        <hr>
                        <h4>Parcelas</h4>
                        <div class="row" ng-repeat="item in itemNovoMassa.parcelas">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Vencimento</label>
                                    <input class="form-control" type="date" required ng-model="item.vencimento">
                                </div>
                            </div>            
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Descrição</label>
                                    <input class="form-control" type="text" required ng-model="item.descricao">
                                </div>
                            </div>                
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Valor</label>
                                    <input class="form-control" required ng-model="item.valor" ui-number-mask>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Boleto</label>
                                    <input class="form-control" type="file" required file-model="item.boletoID">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" ng-disabled="carneForm.$invalid" class="btn btn-primary" ng-click="salvarMassa(itemNovoMassa)">
                    Salvar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="unico">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Inserção única</h4>
            </div>

            <form novalidate name="unicoForm">
                <div class="modal-body">                    
                    <div class="row">          
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Nome</label>
                                <input class="form-control"
                                       name="nome"
                                       required
                                       ng-model="unico.nome"
                                       maxlength="40"
                                       ng-maxlength="40"
                                       min="4"
                                       ng-minlength="4">
                                <erro ng-show="unicoForm.nome.$error.required && unicoForm.nome.$touched">
                                    Insira um nome
                                </erro>
                                <erro ng-show="(unicoForm.nome.$error.minlength
                                                    || unicoForm.nome.$error.maxlength) &&
                                                    unicoForm.nome.$touched">
                                    Campo entre 4 e 40 caracteres
                                </erro>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Descrição</label>
                                <input class="form-control"
                                       name="descricao"
                                       type="text"
                                       ng-model="unicoParcela.descricao"
                                       maxlength="90"
                                       ng-maxlength="90">
                                <erro ng-show="unicoForm.descricao.$error.maxlength &&
                                                    unicoForm.descricao.$touched">
                                    Máximo 90 caracteres
                                </erro>
                            </div>
                        </div>  
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Fornecedor</label>
                                <select class="form-control" name="fornecedor" ng-model="unico.fornecedorID" required>
                                    <option ng-repeat="f in fornecedores" value="{{f.ID}}">
                                        {{f.nome}}
                                    </option>
                                </select>
                                <erro ng-show="unicoForm.fornecedor.$error.required &&
                                            unicoForm.fornecedor.$touched">
                                    Selecione um fornecedor
                                </erro>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Valor</label>
                                <input class="form-control"
                                       required
                                       ng-model="unicoParcela.valor"
                                       name="valor"
                                       ui-number-mask>
                                <erro ng-show="unicoForm.valor.$error.required &&
                                                    unicoForm.valor.$touched">
                                    Informe o valor
                                </erro>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Vencimento</label>
                                <input class="form-control"
                                       type="date" 
                                       required 
                                       name="vencimento"
                                       ng-model="unicoParcela.vencimento">
                                <erro ng-show="unicoForm.vencimento.$error.required &&
                                                    unicoForm.vencimento.$touched">
                                    Informe a data de vencimento
                                </erro>
                            </div>
                        </div>  
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Boleto</label>
                                <input class="form-control" type="file" 
                                       required 
                                       file-model="unicoParcela.boletoID">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>


                <button type="button" class="btn btn-primary" ng-click="salvarUnico()"
                        ng-disabled="unicoForm.$invalid">
                    Salvar
                </button>


            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="debito">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Débito Automático</h4>
            </div>

            <form name="formDebito" novalidate>
                <div class="modal-body">                    
                    <div class="row">         

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>
                                    Nome
                                </label>                                
                                <input tabindex="1"
                                       class="form-control"
                                       name="nome"
                                       type="text"
                                       ng-maxlength="40"
                                       maxlength="40"
                                       min="2"
                                       ng-minlength="2"
                                       required
                                       ng-model="debito.nome">
                                <erro ng-show="formDebito.nome.$error.required && formDebito.nome.$touched">                                    
                                    Insira o nome
                                </erro>
                                <erro ng-show="formDebito.nome.$error.maxlength && formDebito.nome.$touched">
                                    campo entre 2 e 40 caracteres
                                </erro>
                            </div>
                        </div>  
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>
                                    Descrição
                                </label>
                                <input tabindex="2"
                                       class="form-control"
                                       type="text"
                                       ng-model="debito.descricao"
                                       maxlength="60"
                                       ng-maxlength="60"
                                       name="descricao">                                
                                <erro ng-show="(formDebito.descricao.$error.maxlength) && formDebito.descricao.$touched">
                                    campo com no máximo 60 caracteres
                                </erro>
                            </div>
                        </div> 

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>
                                    Fornecedor</label>
                                <select tabindex="3"
                                        class="form-control"
                                        ng-model="debito.fornecedorID"
                                        required
                                        name="fornecedor">
                                    <option ng-repeat="f in fornecedores" required value="{{f.ID}}">
                                        {{f.nome}}
                                    </option>
                                </select>
                                <erro ng-show="formDebito.fornecedor.$error.required && formDebito.fornecedor.$touched">                                    
                                    Selecione o fornecedor
                                </erro>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>
                                    Conta Bancária
                                </label>
                                <select tabindex="4"
                                        class="form-control"
                                        ng-model="debito.contaBancariaID"
                                        required
                                        name="conta">
                                    <option ng-repeat="f in contasBancarias" required value="{{f.ID}}">
                                        {{f.nome}}
                                    </option>
                                </select>
                                <erro ng-show="formDebito.conta.$error.required && formDebito.conta.$touched">                                    
                                    Selecione a conta bancária
                                </erro>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>
                                    Valor
                                </label>
                                <input tabindex="5"
                                       class="form-control"
                                       required
                                       ng-model="debito.valor"
                                       name="valor"
                                       ui-number-mask>
                                <erro ng-show="formDebito.valor.$error.required && formDebito.valor.$touched">                                    
                                    Insira o valor
                                </erro>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="radio-inline">
                                <label>
                                    <input  tabindex="6" type="radio" ng-model="debitoTipo" value="limitado"/> 
                                    Limitado
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input  tabindex="7" type="radio" ng-model="debitoTipo" value="ilimitado"/> 
                                    Ilimitado
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-4" ng-show="debitoTipo == 'ilimitado'">
                            <div class="form-group">                                
                                <label>
                                    Dia de Débito
                                </label>
                                <input
                                    tabindex="8"
                                    class="form-control"
                                    ui-mask="99"
                                    required 
                                    nam="dia"
                                    ng-model="debito.dia">
                                <erro ng-show="formDebito.dia.$error.required && formDebito.dia.$touched">                                    
                                    Insira o dia de débito
                                </erro>
                            </div>
                        </div>
                        <div class="col-lg-6" ng-show="debitoTipo == 'limitado'">
                            <div class="form-group">
                                <label>
                                    Data Inicial</label>
                                <input tabindex="9"
                                       class="form-control"
                                       type="date" 
                                       required
                                       name="dataInicial"
                                       ng-model="debito.dataInicio"
                                       ng-change="corrigirDatasDebitoAutomatico(debito.dataInicio)">
                                <erro ng-show="formDebito.dataInicial.$error.required && formDebito.dataInicial.$touched">                                    
                                    Insira a data inicial
                                </erro>
                            </div>
                        </div>            
                        <div class="col-lg-6" ng-show="debitoTipo == 'limitado'">
                            <div class="form-group">
                                <label>
                                    Data Final</label>
                                <input 
                                    tabindex="10"
                                    class="form-control"
                                    type="date" 
                                    required 
                                    name="dataFinal"
                                    ng-model="debito.dataFim"
                                    ng-change="corrigirDatasDebitoAutomatico(debito.dataFim)">
                                <erro ng-show="formDebito.dataFinal.$error.required && formDebito.dataFinal.$touched">                                    
                                    Insira a data final
                                </erro>
                            </div>
                        </div>            
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button"  tabindex="12" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" ng-disabled="debitoAutomaticoValido()"  
                        tabindex="11" class="btn btn-primary" ng-click="salvarDebito(debito)">
                    Salvar
                </button>
            </div>
        </div>
    </div>
</div>

<fab></fab>
