<div class="alert alert-warning" ng-show="mensagem">
    {{mensagem}}
</div> 

<style>
    .filtro-tipo{
        color: white;
        border-radius: 3px;
        padding-left: 10px;
    }
</style>
<div class="col-lg-12 card z1">
    <div class="row">
        <div class="col-lg-2">
            <div class=" debitoLimitado filtro-tipo">
                <div class="checkbox">
                    <label>
                        <input ng-model="tipo.debitoLimitado" type="checkbox"> Débitos limitados
                    </label>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class=" debitoIlimitado filtro-tipo">
                <div class="checkbox">
                    <label>
                        <input ng-model="tipo.debitoIlimitado" type="checkbox"> Débitos ilimitados
                    </label>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="unico filtro-tipo">
                <div class="checkbox">
                    <label>
                        <input ng-model="tipo.unico" type="checkbox"> Contas únicas
                    </label>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="carne filtro-tipo">
                <div class="checkbox">
                    <label>
                        <input ng-model="tipo.carne" type="checkbox"> Carnês
                    </label>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label>
                    Fornecedor
                </label>
                <select>
                    <option ng-repeat="f in fornecedores">{{f.nome}}</option>
                </select>
            </div>
        </div>
    </div>
</div>
<style>
    .md.md-close{
        padding-top: 13px;
        padding-left: 0px;
    }
</style>

<div class="col-lg-12 month">
    <input type="month" class="month-input" ng-change="carregarPagamentos(dataLoad)" ng-model="dataLoad">

    <div class="pull-right">            
        {{itens.length}} contas totalizando {{pegarTotal() | currency : "R$ " : 2}}   

        <div class="pull-right month-buttons">
            <button class="btn-calendar" ng-click="mostrarEstatisticasMensais()">
                <i class="glyphicon glyphicon-stats" style="color: orange;"></i>
            </button>

            <button class="btn-calendar" 
                    ng-click="alterarStatusCalendario()"
                    ng-class="{'btn-calendar-clicked': mostrarCalendario}">
                <i class="glyphicon glyphicon-calendar" ng-hide="mostrarCalendario"></i>
                <i class="glyphicon glyphicon-remove" ng-show="mostrarCalendario"></i>
            </button>
        </div>
    </div>
</div>

<div class="col-lg-12 calendar z2 pull-right" ng-show="mostrarEstatisticas">    
    <div class="row">
        <div class="col-lg-6">
            Tipos de pagamentos por mês
            <canvas id="tipos-mes" height="450" width="450"></canvas>
        </div>

        <div class="col-lg-6">
            Meses anteriores
        </div>
    </div>
</div>

<div class="col-lg-12 calendar z2 pull-right" ng-show="mostrarCalendario">
    <table class="tb">

        <thead>
            <tr>
                <th>Dom</th>
                <th>Seg</th>
                <th>Ter</th>
                <th>Qua</th>
                <th>Qui</th>
                <th>Sex</th>
                <th>Sáb</th>
            </tr>
        </thead>

        <tr ng-repeat="semana in semanas">
            <td ng-repeat="dia in semana.dias" class="table-td"
                ng-class="{'opaco' : dia.OutroMes}">            
                <div class="table-day-content">
                    <div class="table-day">
                        {{dia.data| date: "dd MMM yy"}}
                    </div>
                    <div class="table-description">

                    </div>
                </div>
                <div class="table-item"
                     ng-repeat="p in dia.pagamentos"
                     ng-click="clicarPagamentoCalendario(p)"
                     ng-class="{'debitoLimitado': p.debitoLimitado, 'debitoIlimitado': p.debitoIlimitado, 'unico': p.unico, 'carne': p.carne}">
                    <div class="item-title">
                        {{p.nome}}
                    </div> 
                    <div class="item-value">
                        {{p.valor| currency : 'R$ ' : 2}}
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>

<div class="col-lg-12 repeated-item z1 item-color" 
     ng-repeat="item in itens
                 | filter:search 
                 | filter:tipo
     " ng-class="{
            'expand z2': item.expandir == true
        }" id="{{item.ID}}"
     ng-mouseover="mouseOverItem(item)"
     ng-mouseleave="mouseLeaveItem(item)">
    <div class='head col-lg-12'>
        <div class="day" ng-class="{'debitoLimitado': item.debitoLimitado, 'debitoIlimitado': item.debitoIlimitado, 'unico': item.unico, 'carne': item.carne}">
            {{item.vencimento| date: "d"}}
            <div class="week">
                {{item.vencimento| date: "EEE" | uppercase}}
            </div>
        </div>
        <div class="title">
            {{item.nome}} <div class="description">
                <input style="border: none;" ng-model="item.descricao" placeholder="Inserir descrição">

            </div>   

            <div class="tags">
                <div class="tag">
                    <i class="glyphicon glyphicon-refresh"></i>
                    {{item.numeroVezes}}                    
                </div>                
                <div class="tag">
                    <i class="glyphicon glyphicon-user"></i>
                    {{item.fornecedorNome}}
                </div>                    
                <div class="tag">
                    <i class="glyphicon glyphicon-stats"></i>
                    {{pegarPorcentagem(item) | number : 2}}%
                </div>   
                <div class="tag">
                    <i class="glyphicon glyphicon-paperclip"></i>
                    Sem comprovantes
                </div> 
                <div class="tag">
                    <i class="glyphicon glyphicon-file"></i>
                    Sem boleto
                </div> 
            </div>
        </div>
        <div class='right-content buttons'>
            <span class='value'>
                {{item.valor| currency : 'R$ ' : 2}} 
            </span>

            <div ng-show="item.mostrarBotoes" class="item-buttons">
                <i class="glyphicon glyphicon-stats btn-item" style="color: rgb(255, 184, 0);" 
                   ng-click="excluir(item)" ng-show="!item.expandir"></i>
                <i class="glyphicon glyphicon-user btn-item" style="color: blue;" ng-show="!item.expandir"></i>
                <i class="glyphicon glyphicon-trash btn-item" style="color: red;" 
                   ng-click="excluir(item)" ng-show="!item.expandir"></i>
                <i class="glyphicon glyphicon-remove btn-item" style="color: red;" 
                   ng-click="cancelarPagamento(item)" ng-show="item.expandir"></i>
                <i class="glyphicon glyphicon-usd btn-item" style="color: rgb(0, 173, 0);" 
                   ng-click="mais(item)"
                   data-toggle="tooltip" title="Pagar" ng-show="!item.expandir"></i>
                <i class="glyphicon glyphicon-ok btn-item" style="color: rgb(0, 173, 0);" 
                   ng-click="pagar(item)"
                   data-toggle="tooltip" title="Confirmar" ng-show="item.expandir"></i>
            </div>
            <i class="glyphicon glyphicon-menu-left show-more-buttons"
               ng-click="mostrarAcaoBotao(item)"
               ng-show="!item.expandir"
               ng-class="{'right-button': item.mostrarBotoes,
                          'right-button-hide': item.expandir}"></i>            
        </div>
    </div>
    <div class='more-info col-lg-12' ng-show='item.expandir'>
        <div class='col-lg-3'>
            <div class='form-group'>
                <label>Comprovante</label>
                <input class='form-control  m-input' type='file' ng-model="item.comprovante">
            </div>
        </div>
        <div class='col-lg-3'>
            <div class='form-group'>
                <label>Banco</label>
                <select class='form-control m-input' placeholder="Banco" ng-model="item.banco">
                    <option selected>Selecione</option>
                </select>
            </div>
        </div>
        <div class='col-lg-3'>
            <div class='form-group'>
                <label>Descontos</label>
                <input class="form-control m-input" required type="number" placeholder="Descontos" ng-model="item.descontos">
            </div>
        </div>
        <div class='col-lg-3'>
            <div class='form-group'>
                <label>Juros</label>
                <input class="form-control m-input" placeholder="Juros" required type="number" ng-model="item.juros">
            </div>
        </div>
    </div>
</div>

<div ng-hide="itens.length">
    <center>Não há contas</center>
</div>


<div class="modal fade" id="editar">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Adição em Massa {{itemEditar.descricao}}</h4>
            </div>

            <form novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Data Inicial</label>
                                <input class="form-control" type="date" ng-change="gerarParcelas()"
                                       required ng-model="itemNovoMassa.inicial">
                            </div>
                        </div>            
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Data Final</label>
                                <input class="form-control" type="date" ng-change="gerarParcelas()" required ng-model="itemNovoMassa.final">
                            </div>
                        </div>                                        
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Valor</label>
                                <input class="form-control" ng-change="gerarParcelas()" required ng-model="itemNovoMassa.valor">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Nome</label>
                                <input class="form-control" ng-change="gerarParcelas()" required ng-model="itemNovoMassa.nome">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Fornecedor</label>
                                <select class="form-control" ng-change="gerarParcelas()" ng-model="itemNovoMassa.fornecedorID">
                                    <option ng-repeat="f in fornecedores" required value="{{f.ID}}">{{f.nome}}</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div ng-show="itemNovoMassa.parcelas.length > 0">
                        <hr>
                        <h4>Parcelas</h4>
                        <div class="row" ng-repeat="item in itemNovoMassa.parcelas">
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Vencimento</label>
                                    <input class="form-control" type="date" required ng-model="item.vencimento">
                                </div>
                            </div>            
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Descrição</label>
                                    <input class="form-control" type="text" required ng-model="item.descricao">
                                </div>
                            </div>                
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Valor</label>
                                    <input class="form-control" required ng-model="item.valor">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Boleto</label>
                                    <input class="form-control" type="file" required ng-model="item.comprovante">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" ng-click="salvarMassa(itemNovoMassa)">
                    Salvar alterações
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="unico">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Inserção única</h4>
            </div>

            <form novalidate>
                <div class="modal-body">                    
                    <div class="row">          
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Vencimento</label>
                                <input class="form-control" type="date" 
                                       required ng-model="unico.parcelas[0].vencimento">
                            </div>
                        </div>            
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Nome</label>
                                <input class="form-control" required ng-model="unico.nome">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Descrição</label>
                                <input class="form-control" type="text"
                                       required ng-model="unico.parcelas[0].descricao">
                            </div>
                        </div>  

                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Fornecedor</label>
                                <select class="form-control" ng-model="unico.fornecedorID">
                                    <option ng-repeat="f in fornecedores" required value="{{f.ID}}">
                                        {{f.nome}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Valor</label>
                                <input class="form-control" required
                                       ng-model="unico.parcelas[0].valor">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label>Boleto</label>
                                <input class="form-control" type="file"
                                       required ng-model="unico.parcelas[0].boleto">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" ng-click="salvarMassa(unico)">
                    Salvar alterações
                </button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="debito">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Débito Automático</h4>
            </div>

            <form name="formDebito" novalidate>
                <div class="modal-body">                    
                    <div class="row">         

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>
                                    Nome
                                </label>                                
                                <input tabindex="1"
                                       class="form-control"
                                       name="nome"
                                       type="text"
                                       ng-maxlength="40"
                                       maxlength="40"
                                       min="2"
                                       ng-minlength="2"
                                       required
                                       ng-model="debito.nome"
                                       pattern="[A-Za-z ]{2,40}">
                                <erro ng-show="formDebito.nome.$error.required && formDebito.nome.$touched">                                    
                                    campo obrigatório
                                </erro>
                                <erro ng-show="formDebito.nome.$error.maxlength && formDebito.nome.$touched">
                                    campo entre 2 e 40 caracteres
                                </erro>
                                <erro ng-show="formDebito.nome.$error.pattern && formDebito.nome.$touched">
                                    somente letras
                                </erro>
                            </div>
                        </div>  
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>
                                    Descrição
                                </label>
                                <input tabindex="2"
                                       class="form-control"
                                       type="text"
                                       required
                                       ng-model="debito.descricao"
                                       maxlength="60"
                                       min="5"
                                       ng-maxlength="60"
                                       ng-minlength="5"
                                       name="descricao"
                                       pattern="[A-Za-z ]{5,60}">
                                <erro ng-show="formDebito.descricao.$error.required && formDebito.nome.$touched">                                    
                                    campo obrigatório
                                </erro>
                                <erro ng-show="formDebito.descricao.$error.maxlength
                                                    && formDebito.descricao.$error.minlength && formDebito.nome.$touched">
                                    campo entre 5 e 60 caracteres
                                </erro>
                                <erro ng-show="formDebito.descricao.$error.pattern && formDebito.nome.$touched">
                                    somente letras entre 5 a 60 caracteres
                                </erro>
                            </div>
                        </div> 

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>
                                    Fornecedor</label>
                                <select tabindex="3"
                                        class="form-control"
                                        ng-model="debito.fornecedorID"
                                        required
                                        name="fornecedor">
                                    <option ng-repeat="f in fornecedores" required value="{{f.ID}}">
                                        {{f.nome}}
                                    </option>
                                </select>
                                <erro ng-show="formDebito.fornecedor.$error.required && formDebito.nome.$touched">                                    
                                    campo obrigatório
                                </erro>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>
                                    Conta Bancária
                                </label>
                                <select tabindex="4"
                                        class="form-control"
                                        ng-model="debito.contaBancariaID"
                                        required
                                        name="conta">
                                    <option ng-repeat="f in contasBancarias" required value="{{f.ID}}">
                                        {{f.nome}}
                                    </option>
                                    <option value="1">
                                        Arrumar Input!
                                    </option>
                                </select>
                                <erro ng-show="formDebito.conta.$error.required && formDebito.nome.$touched">                                    
                                    campo obrigatório
                                </erro>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>
                                    Valor
                                </label>
                                <input tabindex="5"
                                       class="form-control"
                                       required
                                       ng-model="debito.valor"
                                       name="valor">
                                <erro ng-show="formDebito.valor.$error.required && formDebito.nome.$touched">                                    
                                    campo obrigatório
                                </erro>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="radio-inline">
                                <label>
                                    <input  tabindex="6" type="radio" ng-model="debitoTipo" value="limitado"/> 
                                    Limitado
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input  tabindex="7" type="radio" ng-model="debitoTipo" value="ilimitado"/> 
                                    Ilimitado
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-4" ng-show="debitoTipo == 'ilimitado'">
                            <div class="form-group">                                
                                <label>
                                    Dia de Débito
                                </label>
                                <input  tabindex="8" class="form-control" ui-mask="99" required ng-model="debito.dia">
                            </div>
                        </div>
                        <div class="col-lg-6" ng-show="debitoTipo == 'limitado'">
                            <div class="form-group">
                                <label>
                                    Data Inicial</label>
                                <input tabindex="9" class="form-control" type="date" 
                                       required ng-model="debito.dataFim">
                            </div>
                        </div>            
                        <div class="col-lg-6" ng-show="debitoTipo == 'limitado'">
                            <div class="form-group">
                                <label>
                                    Data Final</label>
                                <input  tabindex="10" class="form-control" type="date" 
                                        required ng-model="debito.dataInicio">
                            </div>
                        </div>            
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button"  tabindex="12" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button"  tabindex="11" class="btn btn-primary" ng-click="salvarDebito(debito)">
                    Salvar alterações
                </button>
            </div>
        </div>
    </div>
</div>

<fab></fab>