<div class="row" ng-show="item.c.primeiroDoDia" style="position: relative;">
    <div class="col-lg-12">
        <div class="item-date day-content" ng-class="{'dia-hoje': item.c.hoje}">
            <span class="day-item">
                {{item.vencimento| date : "dd"}}
            </span>
            <br>
            <!--
            <span class="month-item">
                {{item.vencimento| date : "MMM"}}
            </span>
            <br>
            <span class="year-item">
                {{item.vencimento| date : "yy"}}
            </span>
            <br>
            -->
            <span class="week-item">
                {{item.vencimento| date : "EEE"}}
            </span>
        </div>
    </div>
</div>

<div class="col-lg-12 z1 item-color item" 
     ng-class="{
                 'expand z2': item.c.expandir == true,
                         'expand-info z2': item.c.expandirInfo,
                         'first' : item.c.primeiroDoDia,
                         'item-unico' : item.unico,
                         'item-debito - limitado' : item.debitoLimitado,
                         'item-debito - ilimitado' : item.debitoIlimitado,
                         'item-carne' : item.carne
                 }" id="{{item.ID}}"
     ng-mouseover="mouseOverItem(item)"
     ng-mouseleave="mouseLeaveItem(item)"
     ondrop="alert(JSON.stringify(event))">

    <div class='head'>
        <!--
        <div class="day" ng-class="{'debitoLimitado': item.debitoLimitado, 'debitoIlimitado': item.debitoIlimitado, 'unico': item.unico, 'carne': item.carne}">
            {{item.vencimento| date: "d"}}
            <div class="week">
                {{item.vencimento| date: "EEE" | uppercase}}
            </div>
        </div>
        -->
        <div class="title">
            {{item.nome}} <div class="description">
                <input style="border: none;" ng-model="item.descricao" placeholder="Inserir descrição">

            </div>   

            <div class="tags">
                <div class="tag">
                    <div class="numero-vezes">
                        <i class="md md-cached"></i>
                        {{item.c.numeroVezes}}                    
                    </div>
                </div>
                <div class="tag">
                    <div class="porcentagem">
                        <i class="md md-equalizer"></i>
                        {{pegarPorcentagem(item) | number : 2}}%
                    </div>
                </div>   

                <a href="#Fornecedor">
                    <div class="tag" title="{{item.fornecedorNome}}">
                        <div class="fornecedor">
                            <i class="md md-person"></i>
                            {{item.fornecedorNome}}
                        </div>            
                    </div>
                </a>

                <div class="tag">
                    <div class="boleto">
                        <a target="_blank" href="{{item.c.boletoUrl}}" ng-show="item.boletoID">
                            <i class="md md-description"></i>
                            Boleto 
                        </a>                   
                    </div> 
                </div>


                <div class="tag">
                    <div class="comprovante">
                        <a target="_blank" href="{{item.c.comprovanteUrl}}" ng-show="item.comprovanteID">
                            <i class="md md-attachment"></i>
                            Comprovante
                        </a>          
                    </div>
                </div>                 

                <div class="tag" style="color: green;" ng-show="item.pago">
                    <i class="md md-done"></i>
                    Pago em {{item.dataPagamento| date:"dd/MM/yy" }}
                </div> 
                <a href="#/Conta" ng-show="item.pago">
                    <div class="tag" style="color: green;">
                        <i class="md md-account-balance"></i>
                        Conta {{item.contaNome}}
                    </div> 
                </a>
                <div class="tag" style="color: red;" ng-show="item.vencido && !item.pago && !item.debitoIlimitado && !item.debitoLimitado">
                    <i class="md md-warning"></i>
                    Vencido há {{item.c.diasVencidos}} dias
                </div> 
            </div>
        </div>
        <div class='right-content buttons'>
            <span class='value'>
                R$
                <input ng-model="item.valor" class="value-item" ui-number-mask>
            </span>

            <div ng-show="!item.c.mostrarBotoes" class="item-buttons">
                <i class="md md-delete btn-item" style="color: red;" 
                   ng-click="excluir(item)" ng-show="!item.c.expandir && !item.pago && (item.unico || item.carne)"></i>


                <i class="md md-clear btn-item" style="color: red;" 
                   ng-click="cancelarPagamentoUnico(item)"
                   ng-show="item.c.expandir && !item.pago"></i>               
                <i class="md md-attach-money btn-item" style="color: rgb(0, 173, 0);" 
                   ng-click="mais(item)"
                   data-toggle="tooltip" title="Pagar"
                   ng-show="!item.c.expandir && !item.pago">
                </i>
                <i class="md md-done btn-item" style="color: rgb(0, 173, 0);" 
                   ng-click="pagarUnico(item)"
                   data-toggle="tooltip" title="Confirmar"
                   ng-show="item.c.expandir && !item.pago"></i>

                <i class="md md-info btn-item" style="color: gray;" 
                   ng-click="expandirInfo(item)"
                   data-toggle="tooltip" title="Confirmar"
                   ng-show="!item.c.expandir"></i>
            </div>
            <!--
            <i class="glyphicon glyphicon-menu-left show-more-buttons"
               ng-click="mostrarAcaoBotao(item)"
               ng-show="!item.expandir"
               ng-class="{'right-button': item.mostrarBotoes,
                          'right-button-hide': item.expandir}"></i>            -->
        </div>
    </div>
    <div class='more-info col-lg-12' ng-show='item.c.expandirInfo'>
        <div class="col-lg-6">
            <h4>Parcelas</h4>
        </div>
        <div class="col-lg-6">
            <h4>Valores mensais de {{item.fornecedorNome}}</h4>
            <div id="{{item.ID}}-fornecedor-chart" style="height: 270px;"></div>
        </div>
    </div>
    <div class='more-info col-lg-12' ng-show='item.c.expandir'>
        <form novalidate name="formPagar">
            <div class='col-lg-3'>
                <div class='form-group'>
                    <label>Comprovante</label>
                    <input tabindex="1" class='form-control  m-input'
                           name="comprovanteID"
                           type='file'
                           required
                           file-model="item.comprovanteID"
                           validFile>
                    <erro ng-show="formPagar.comprovanteID.$valid && formPagar.comprovante.$touched">                                    
                        Insira um comprovante
                    </erro>
                </div>
            </div>
            <div class='col-lg-3'>
                <div class='form-group'>
                    <label>Banco</label>
                    <select tabindex="2" class='form-control m-input'
                            name="contaBancariaID"
                            required placeholder="Conta bancária"
                            ng-model="item.contaBancariaID">
                        <option ng-repeat="f in contasBancarias" value="{{f.id}}">
                            {{f.nome}}
                        </option>
                    </select>
                    <erro ng-show="formPagar.contaBancariaID.$error.required && formPagar.banco.$touched">                                    
                        Insira uma conta bancária
                    </erro>
                </div>
            </div>
            <div class='col-lg-3'>
                <div class='form-group'>
                    <label>Descontos</label>
                    <input tabindex="3" class="form-control m-input" 
                           required 
                           type="text"
                           placeholder="Descontos" 
                           ng-model="item.descontos"
                           name="descontos"
                           ui-number-mask>
                    <erro ng-show="formPagar.descontos.$error.required && formPagar.descontos.$touched">                                    
                        campo obrigatório
                    </erro>
                </div>
            </div>
            <div class='col-lg-3'>
                <div class='form-group'>
                    <label>Juros {{formPagar.$invalid}} </label>
                    <input tabindex="4" class="form-control m-input" 
                           placeholder="Juros" 
                           required 
                           type="text" 
                           ng-model="item.juros"
                           name="juros"
                           ui-number-mask>
                    <erro ng-show="formPagar.juros.$error.required && formPagar.juros.$touched">                                    
                        campo obrigatório
                    </erro>
                </div>
            </div>
        </form>
    </div>
</div>